h1
{
	text-align: center;
	font-family: "Courier";
	color: #334c43;
}

body
{
	background-color: #c1ffec;
	font-family: "Courier";
	color: #334c43;
	text-align: left;
}

.fancy {font-style: italic;}

ul.a {list-style-type: square;}

ol.u {list-style-type: none;}

img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

div.links {text-align: center;}

a:link {color: #334c43;}

a:visited {color: #8a54a8;}

a:hover {color: #0f1614;}
