body
{
	background-color: white;
	font-family: "Times New Roman";
	color: black;
}

h1 {text-align: center;}

h2 {text-align: center;}

ul.a {list-style-type: square;}

ol.u {list-style-type: none;}


